.container {
    margin: 10em 0;
    padding: 0 3em;
    --height: auto;
}

.title {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 800;
    letter-spacing: 0.08rem;
    font-variant: small-caps;
    margin-bottom: 2.7em;
}

.card_container {
    gap: 3em;
    flex-direction: column;
    align-items: center;
}
